/*-----  FONTS & COLORS  -----*/
/*-----  FONTS & COLORS  -----*/
/*--------------------------------------------*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-size: 14px;
  line-height: 1;
  scroll-behavior: smooth;
}

body {
  background-color: #080808;
}

a {
  background-image: linear-gradient(to right, #053BA3, #54b3d6 50%, #d3d3d3 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

a:before {
  content: "";
  background-image: linear-gradient(to right, #053BA3, #54b3d6 50%);
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

a:hover {
  text-decoration: none;
  background-position: 0;
}

a:hover::before {
  width: 100%;
}

ul,
ol {
  list-style: none;
}

img {
  vertical-align: top;
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
  color: #fff;
}

h1 {
  font: normal 400 30px/22px "Righteous", sans-serif;
}

h2 {
  font: normal 500 30px/32px "Nunito", sans-serif;
  position: relative;
}

h2::after {
  content: url("../img/Ellipse-heading.svg");
  position: absolute;
  top: -25px;
  margin-left: 8px;
}

@media (max-width: 420px) {
  h2 {
    font-size: 22px;
  }
}

h3 {
  font: normal 500 25px/18px "Nunito", sans-serif;
}

@media (max-width: 767px) {
  h3 {
    font-size: 16px !important;
  }
}

h4 {
  font: normal 500 20px/18px "Nunito", sans-serif;
}

@media (max-width: 767px) {
  h4 {
    font-size: 14px !important;
  }
}

h5 {
  font: normal 400 18px/18px "Open Sans", sans-serif;
}

p {
  font: normal 400 13px/18px "Open Sans", sans-serif;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

#wrapper .main {
  flex: 1 1 auto;
}

#page {
  margin: 0 auto;
  height: 100%;
}

#wrapper {
  display: flex;
  justify-content: space-between;
}

#wrapper #sidebar nav {
  width: max-content;
}

#wrapper #sidebar nav .navbar {
  padding: 0;
}

#wrapper #sidebar nav .navbar .container {
  padding: 0;
}

#wrapper #primary {
  flex-grow: 1;
  padding: 0 20px;
}

header,
#wrapper,
#wrapper-films,
.everywhere-container,
.site-info {
  max-width: 1440px;
  margin: 0 auto;
}

@media (max-width: 1440px) and (min-width: 768px) {
  header,
  #wrapper,
  #wrapper-films,
  .everywhere-container {
    padding: 0 4rem;
  }
}

@media (max-width: 767px) {
  header,
  #wrapper,
  #wrapper-films,
  .everywhere-container,
  .site-info {
    padding: 1.5rem;
  }
}

/*-----  FONTS & COLORS  -----*/
/*-----  FONTS & COLORS  -----*/
/*--------------------------------------------*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-size: 14px;
  line-height: 1;
  scroll-behavior: smooth;
}

body {
  background-color: #080808;
}

a {
  background-image: linear-gradient(to right, #053BA3, #54b3d6 50%, #d3d3d3 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

a:before {
  content: "";
  background-image: linear-gradient(to right, #053BA3, #54b3d6 50%);
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

a:hover {
  text-decoration: none;
  background-position: 0;
}

a:hover::before {
  width: 100%;
}

ul,
ol {
  list-style: none;
}

img {
  vertical-align: top;
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
  color: #fff;
}

h1 {
  font: normal 400 30px/22px "Righteous", sans-serif;
}

h2 {
  font: normal 500 30px/32px "Nunito", sans-serif;
  position: relative;
}

h2::after {
  content: url("../img/Ellipse-heading.svg");
  position: absolute;
  top: -25px;
  margin-left: 8px;
}

@media (max-width: 420px) {
  h2 {
    font-size: 22px;
  }
}

h3 {
  font: normal 500 25px/18px "Nunito", sans-serif;
}

@media (max-width: 767px) {
  h3 {
    font-size: 16px !important;
  }
}

h4 {
  font: normal 500 20px/18px "Nunito", sans-serif;
}

@media (max-width: 767px) {
  h4 {
    font-size: 14px !important;
  }
}

h5 {
  font: normal 400 18px/18px "Open Sans", sans-serif;
}

p {
  font: normal 400 13px/18px "Open Sans", sans-serif;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

#wrapper .main {
  flex: 1 1 auto;
}

#page {
  margin: 0 auto;
  height: 100%;
}

#wrapper {
  display: flex;
  justify-content: space-between;
}

#wrapper #sidebar nav {
  width: max-content;
}

#wrapper #sidebar nav .navbar {
  padding: 0;
}

#wrapper #sidebar nav .navbar .container {
  padding: 0;
}

#wrapper #primary {
  flex-grow: 1;
  padding: 0 20px;
}

header,
#wrapper,
#wrapper-films,
.everywhere-container,
.site-info {
  max-width: 1440px;
  margin: 0 auto;
}

@media (max-width: 1440px) and (min-width: 768px) {
  header,
  #wrapper,
  #wrapper-films,
  .everywhere-container {
    padding: 0 4rem;
  }
}

@media (max-width: 767px) {
  header,
  #wrapper,
  #wrapper-films,
  .everywhere-container,
  .site-info {
    padding: 1.5rem;
  }
}

.main-button {
  display: flex;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
  width: 400px;
  max-width: 400px;
  padding: 14px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  border-radius: 12px;
  background: linear-gradient(91deg, #628eff 9.91%, #8740cd 53.29%, #580475 91.56%);
  transition: 0.5s;
}

.main-button:hover {
  opacity: 0.8;
}

.menu-main-menu-container ul li a {
  font: normal 400 18px/18px "Nunito", sans-serif;
  line-height: 34px;
}

@media (max-width: 767px) {
  #wrapper #sidebar {
    display: none;
  }
}

.logo-users {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 4rem;
}

@media (max-width: 767px) {
  .logo-users {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
  }
}

.logo-users .logo a {
  background-image: none !important;
}

.logo-users .logo a:hover::before {
  display: none;
}

.logo-users .logo a:before {
  display: none;
}

.logo-users .logo a:hover {
  background-image: none !important;
}

.logo-users .user a:hover::before {
  display: none;
}

.logo-users .user a img {
  width: 35px;
}

.logo-users .user .mega-menu {
  position: relative;
}

.logo-users .user .mega-menu:hover nav {
  opacity: 1;
}

.logo-users .user .mega-menu h5 {
  font-family: "Righteous", sans-serif;
  position: relative;
  cursor: pointer;
}

.logo-users .user .mega-menu nav {
  position: absolute;
  opacity: 0;
  z-index: 9;
  right: 0;
  transition: all 0.3s ease-in-out;
}

.logo-users .user .mega-menu nav ul li {
  list-style-type: none;
}

.logo-users .user .mega-menu nav ul li a {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font: normal 400 14px/18px "Nunito", sans-serif;
  line-height: 34px;
}

.logo-users .user .mega-menu nav ul li a:hover::before {
  display: none;
}

@media (max-width: 767px) {
  .logo-users .user {
    text-align: center;
    display: none;
  }
  .logo-users .user.mobile {
    display: block;
    top: 6rem;
    left: 8vw;
    position: absolute;
  }
}

@media (max-width: 2560px) and (min-width: 768px) {
  .logo-users #sidebar {
    display: none;
  }
}

.logo-users .logo,
.footer .logo {
  display: flex;
  align-items: center;
}

.logo-users .logo h1,
.footer .logo h1 {
  margin-left: -1.05rem;
  z-index: -1;
  background: linear-gradient(to right, #053BA3, #053BA3, #54b3d6 50%, #54b3d6);
  -webkit-background-clip: text;
  color: transparent;
}

.logo-users .logo::before,
.footer .logo::before {
  content: url("../img/flag-logo.svg");
}

@media (min-width: 768px) {
  .navbar .container input.checkbox {
    display: none;
  }
}

/* hamburger menu 767px*/
.checkbox {
  display: none;
}

.button {
  position: relative;
  height: 2.5rem;
  width: 3rem;
  border-radius: 50%;
  position: absolute;
  top: 6rem;
  right: 5vw;
  z-index: 2000;
  text-align: center;
  cursor: pointer;
}

.background {
  height: 0rem;
  width: 0rem;
  border-radius: 50%;
  position: fixed;
  top: 7.5vh;
  right: 6.6vw;
  background-image: radial-gradient(#080808, #053ba3);
  z-index: 1000;
  transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

.nav {
  height: 100vh;
  position: fixed;
  top: 0;
  right: -60vw;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 1.5s;
}

.list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
}

.item {
  margin: 1rem;
  font-size: 36px;
}

.link:link,
.link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
  background-size: 220%;
  transition: all 0.4s;
}

.link:hover,
.link:active {
  color: lightgreen;
  cursor: pointer;
}

/* functionality */
.checkbox:checked ~ .background {
  transform: scale(100);
  width: 1rem;
  height: 1rem;
}

.checkbox:checked ~ .nav {
  opacity: 1;
  width: 100%;
  right: 0;
}

/*  */
/* styling hamb ICON */
.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 3rem !important;
}

.icon,
.icon::before,
.icon::after {
  width: 2rem;
  height: 2px;
  background: linear-gradient(to bottom, #053ba3, #053ba3, #54b3d6 50%, #54b3d6);
  display: inline-block;
}

.icon::before,
.icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}

.icon::before {
  top: -0.8rem;
}

.icon::after {
  top: 0.8rem;
}

.button:hover icon:before {
  top: -1rem;
}

.button:hover icon::after {
  top: 1rem;
}

.checkbox:checked + .button .icon {
  background: transparent;
}

.checkbox:checked + .button .icon::before {
  top: 0;
  transform: rotate(135deg);
}

.checkbox:checked + .button .icon::after {
  top: 0;
  transform: rotate(-135deg);
}
/*# sourceMappingURL=header.css.map */