/*-----  FONTS & COLORS  -----*/
/*-----  FONTS & COLORS  -----*/
/*--------------------------------------------*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-size: 14px;
  line-height: 1;
  scroll-behavior: smooth;
}

body {
  background-color: #080808;
}

a {
  background-image: linear-gradient(to right, #053BA3, #54b3d6 50%, #d3d3d3 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

a:before {
  content: "";
  background-image: linear-gradient(to right, #053BA3, #54b3d6 50%);
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

a:hover {
  background-position: 0;
}

a:hover::before {
  width: 100%;
}

ul,
ol {
  list-style: none;
}

img {
  vertical-align: top;
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
  color: #fff;
}

h1 {
  font: normal 400 30px/22px "Righteous", sans-serif;
}

h2 {
  font: normal 500 30px/18px "Nunito", sans-serif;
  position: relative;
}

h2::after {
  content: url("../img/Ellipse-heading.svg");
  position: absolute;
  top: -25px;
  margin-left: 8px;
}

h3 {
  font: normal 500 25px/18px "Nunito", sans-serif;
}

h4 {
  font: normal 500 20px/18px "Nunito", sans-serif;
}

h5 {
  font: normal 400 18px/18px "Open Sans", sans-serif;
}

p {
  font: normal 400 13px/18px "Open Sans", sans-serif;
}

#wrapper .main {
  flex: 1 1 auto;
}

#page {
  margin: 0 auto;
  height: 100%;
}

#wrapper {
  display: flex;
  justify-content: space-between;
}

#wrapper #sidebar nav {
  width: max-content;
}

#wrapper #sidebar nav .navbar {
  padding: 0;
}

#wrapper #sidebar nav .navbar .container {
  padding: 0;
}

#wrapper #primary {
  flex-grow: 1;
  padding: 0 20px;
}

header,
#wrapper,
#wrapper-films,
.everywhere-container,
.site-info {
  max-width: 1440px;
  margin: 0 auto;
}

@media (max-width: 1440px) and (min-width: 768px) {
  header,
  #wrapper,
  #wrapper-films,
  .everywhere-container {
    padding: 0 4rem;
  }
}

@media (max-width: 767px) {
  header,
  #wrapper,
  #wrapper-films,
  .everywhere-container,
  .site-info {
    padding: 1.5rem;
  }
}

#primary .container #filmCarousel .carousel-inner {
  padding-bottom: 4rem;
}

#primary .container #filmCarousel .carousel-inner .carousel-item .view-films {
  display: flex;
  gap: 2rem;
}

#primary .container #filmCarousel .carousel-inner .carousel-item .view-films .film-container-slide {
  position: relative;
  width: 50%;
  border-radius: 10px;
}

#primary .container #filmCarousel .carousel-inner .carousel-item .view-films .film-container-slide .img-film img {
  object-fit: cover;
  max-height: 350px;
  border-radius: 10px;
}

#primary .container #filmCarousel .carousel-inner .carousel-item .view-films .film-container-slide .description {
  position: absolute;
  z-index: 1;
  width: 260px;
  right: 0;
  padding: 20px 16px;
  border-radius: 0px 10px 10px 0px;
  background: rgba(16, 16, 16, 0.3);
  backdrop-filter: blur(2px);
  height: 100%;
}

#primary .container #filmCarousel .carousel-inner .carousel-item .view-films .film-container-slide .description h1 {
  line-height: 34px;
}

#primary .container #filmCarousel .carousel-inner .carousel-item .view-films .film-container-slide .description p {
  font-weight: 600;
}

#primary .container #filmCarousel .carousel-inner .carousel-item .view-films .film-container-slide .description span {
  font: normal 400 13px/18px "Open Sans", sans-serif;
}

#primary .container #filmCarousel .carousel-indicators {
  display: flex;
  align-items: center;
}

#primary .container #filmCarousel .carousel-indicators li {
  background-color: transparent;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 1px solid #fff;
}

#primary .container #filmCarousel .carousel-indicators li.active {
  background-color: #053BA3;
  border: none;
  width: 10px;
  height: 10px;
}

.all-film {
  padding-top: 7rem;
  padding-bottom: 3rem;
  padding-left: 2rem;
  overflow: hidden;
  position: relative;
  min-height: 67%;
}

.all-film h2 {
  max-width: 1440px;
  margin: 0 auto;
}

.all-sliders {
  position: relative;
}

.all-sliders .slider {
  margin-right: -60px;
}

.all-sliders .all-films-slider,
.all-sliders .popularity-films-slider,
.all-sliders .serial-slider {
  padding-top: 2rem;
}

.all-sliders .all-films-slider .slick-list .slick-track,
.all-sliders .popularity-films-slider .slick-list .slick-track,
.all-sliders .serial-slider .slick-list .slick-track {
  display: flex;
  gap: 1.5rem;
  border-radius: 10px;
}

.all-sliders .all-films-slider .slick-list .slick-track .img-film,
.all-sliders .popularity-films-slider .slick-list .slick-track .img-film,
.all-sliders .serial-slider .slick-list .slick-track .img-film {
  position: relative;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
}

.all-sliders .all-films-slider .slick-list .slick-track .img-film .film-image,
.all-sliders .popularity-films-slider .slick-list .slick-track .img-film .film-image,
.all-sliders .serial-slider .slick-list .slick-track .img-film .film-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s;
  cursor: pointer;
}

.all-sliders .all-films-slider .slick-list .slick-track .img-film:hover .film-image,
.all-sliders .popularity-films-slider .slick-list .slick-track .img-film:hover .film-image,
.all-sliders .serial-slider .slick-list .slick-track .img-film:hover .film-image {
  transform: scale(1.1);
}

.all-sliders .all-films-slider .slick-list .slick-track .img-film .description,
.all-sliders .popularity-films-slider .slick-list .slick-track .img-film .description,
.all-sliders .serial-slider .slick-list .slick-track .img-film .description {
  position: absolute;
  z-index: 1;
  bottom: -100%;
  left: 0;
  width: 100%;
  background: rgba(16, 16, 16, 0.29);
  backdrop-filter: blur(2px);
  color: white;
  padding: 0.6rem 1rem 2.5rem;
  border-radius: 0 0 10px 10px;
  transition: bottom 0.3s;
}

.all-sliders .all-films-slider .slick-list .slick-track .img-film .description h1,
.all-sliders .popularity-films-slider .slick-list .slick-track .img-film .description h1,
.all-sliders .serial-slider .slick-list .slick-track .img-film .description h1 {
  font-size: 25px;
  line-height: 30px;
}

.all-sliders .all-films-slider .slick-list .slick-track .img-film:hover .description,
.all-sliders .popularity-films-slider .slick-list .slick-track .img-film:hover .description,
.all-sliders .serial-slider .slick-list .slick-track .img-film:hover .description {
  bottom: 0;
}

.all-sliders .navigation {
  position: absolute;
  top: -20px;
  right: 0;
  height: 30px;
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.all-sliders .navigation svg {
  cursor: pointer;
  width: 2rem;
  color: #2e549d80;
  transition: all 0.3s ease-in-out;
}

.all-sliders .navigation svg:hover {
  color: #053ba3;
}

#wrapper-films .popular-film,
#wrapper-films .serials {
  padding: 7rem 1rem;
}

#wrapper-films .tabs-category {
  position: relative;
}

#wrapper-films .tabs-category .tab-content {
  display: none;
}

#wrapper-films .tabs-category .tab.active .tab-content {
  display: block;
  position: absolute;
  top: 40px;
  right: 0;
  left: 150px;
}

#wrapper-films .tabs-category .tab.active .tab-title {
  background: linear-gradient(88deg, #053ba3 0%, #08080800 90%);
}

#wrapper-films .tabs-category .tab .tab-title {
  cursor: pointer;
  padding: 13px 0 13px 16px;
  width: 9%;
  border-radius: 1px;
  font-weight: 400;
  font-size: 18px;
  position: relative;
  overflow: hidden;
}

#wrapper-films .tabs-category .tab .tab-title::before {
  content: "";
  position: absolute;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(88deg, #053ba3 0%, #08080800 90%);
  transition: right 0.5s ease-in-out;
  z-index: -1;
}

#wrapper-films .tabs-category .tab .tab-title:hover::before {
  right: 0;
}

#wrapper-films .tabs-category .tab .tab-content {
  background-color: transparent;
}

#wrapper-films .tabs-category .tab .tab-content h5 {
  padding-top: 15px;
  line-height: normal;
  width: 80%;
  font-size: 16px;
}

#wrapper-films .tabs-category .tab .tab-content .slider-content .loader {
  width: 40px;
  height: 40px;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: spin 2s linear infinite;
}

#wrapper-films .tabs-category .tab .tab-content .slider-content .slick-slider .slick-list .slick-track {
  display: flex;
  opacity: 1;
  min-width: 8832px;
}

#wrapper-films .tabs-category .tab .tab-content .slider-content .slick-slider .slick-list .slick-track .img-film {
  min-width: 192px;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.everywhere {
  padding-top: 5rem;
  background: linear-gradient(180deg, rgba(5, 59, 163, 0) 0%, #053ba3 100%);
  box-shadow: inset 2px -10px 20px 0px #000;
  width: 100%;
}

.everywhere .everywhere-container {
  display: flex;
  gap: 7rem;
  align-items: center;
}

.everywhere .everywhere-container__watch, .everywhere .everywhere-container__img {
  width: 50%;
}

.everywhere .everywhere-container__watch h3 {
  padding-bottom: 5rem;
}

.everywhere .everywhere-container__watch .description {
  display: flex;
  gap: 3rem;
  flex-direction: column;
  align-items: flex-start;
}

.everywhere .everywhere-container__watch .description h5 a {
  background-image: linear-gradient(to right, #fff, #bc0e0e 160%);
  font-weight: 400;
}

.everywhere .everywhere-container__watch .description h5 a:hover {
  background-image: linear-gradient(to right, #053ba3, #fff 50%);
}

.everywhere .everywhere-container__watch .description h5 a:hover::before {
  height: 2px;
}

.everywhere .everywhere-container__watch .description .lets-start {
  border-radius: 1.25rem;
  background: #fff;
  padding: 0.1rem 1rem;
}

.everywhere .everywhere-container__watch .description .lets-start a {
  background-image: linear-gradient(to right, #053ba3, #fff 200%);
  font-weight: 500;
}

.everywhere .everywhere-container__watch .description .lets-start a:hover::before {
  display: none;
}
/*# sourceMappingURL=home.css.map */