/*-----  FONTS & COLORS  -----*/
/*-----  FONTS & COLORS  -----*/
/*--------------------------------------------*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-size: 14px;
  line-height: 1;
  scroll-behavior: smooth;
}

body {
  background-color: #080808;
}

a {
  background-image: linear-gradient(to right, #053BA3, #54b3d6 50%, #d3d3d3 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

a:before {
  content: "";
  background-image: linear-gradient(to right, #053BA3, #54b3d6 50%);
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

a:hover {
  background-position: 0;
}

a:hover::before {
  width: 100%;
}

ul,
ol {
  list-style: none;
}

img {
  vertical-align: top;
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
  color: #fff;
}

h1 {
  font: normal 400 30px/22px "Righteous", sans-serif;
}

h2 {
  font: normal 500 30px/18px "Nunito", sans-serif;
  position: relative;
}

h2::after {
  content: url("../img/Ellipse-heading.svg");
  position: absolute;
  top: -25px;
  margin-left: 8px;
}

h3 {
  font: normal 500 25px/18px "Nunito", sans-serif;
}

h4 {
  font: normal 500 20px/18px "Nunito", sans-serif;
}

h5 {
  font: normal 400 18px/18px "Open Sans", sans-serif;
}

p {
  font: normal 400 13px/18px "Open Sans", sans-serif;
}

#wrapper .main {
  flex: 1 1 auto;
}

#page {
  margin: 0 auto;
  height: 100%;
}

#wrapper {
  display: flex;
  justify-content: space-between;
}

#wrapper #sidebar nav {
  width: max-content;
}

#wrapper #sidebar nav .navbar {
  padding: 0;
}

#wrapper #sidebar nav .navbar .container {
  padding: 0;
}

#wrapper #primary {
  flex-grow: 1;
  padding: 0 20px;
}

header,
#wrapper,
#wrapper-films,
.everywhere-container,
.site-info {
  max-width: 1440px;
  margin: 0 auto;
}

@media (max-width: 1440px) and (min-width: 768px) {
  header,
  #wrapper,
  #wrapper-films,
  .everywhere-container {
    padding: 0 4rem;
  }
}

@media (max-width: 767px) {
  header,
  #wrapper,
  #wrapper-films,
  .everywhere-container,
  .site-info {
    padding: 1.5rem;
  }
}

.tabs {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  margin: 0;
  font-size: 1.5rem;
  justify-content: center;
  gap: 0.5rem;
}

.tabs .active {
  background-color: #b3afaf;
}

.tabs h4 {
  color: #fff;
  font-size: 1rem;
  font-style: normal;
  line-height: normal;
  margin: 0;
}

.tab-link {
  cursor: pointer;
  color: #fff;
  font-size: 1rem;
  text-align: center;
  border-radius: 5px 5px 0px 0px;
}

.tab-link:hover {
  color: #c5c2c2;
}

.tab-content {
  display: none;
  background-color: #b3afaf;
  padding: 1rem;
  border-radius: 0px 5px 5px 5px;
  z-index: 1;
}

.tab-content.active {
  display: flex;
  flex-direction: column;
  z-index: 1;
  position: relative;
}

.tab-content.active form {
  display: flex;
  flex-direction: column;
}

.tab-content.active form input {
  padding: 1rem 1rem;
  border-radius: 2rem;
  margin: 0.5rem 0rem;
  text-align: center;
}

.tab-content.active form input[type="submit"] {
  cursor: pointer;
}

.reg-name {
  color: white;
  display: block;
}

.register {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  padding-left: 7rem;
}

.register section:nth-child(1) {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.register section:nth-child(1) h1 {
  color: #fff;
  font-size: 96px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  z-index: 1;
}

.register section:nth-child(1) img {
  position: absolute;
  width: 30rem;
}

.register section:nth-child(2) img {
  position: absolute;
  width: 30rem;
  top: 0;
  z-index: 0;
  right: 8%;
}

#login, #register {
  border-radius: 20px;
  border: 1px solid var(--Glass1-Stroke-Carey, #AFAFAF);
  background: var(--Glass1-Fill-Carey, linear-gradient(321deg, rgba(191, 191, 191, 0.06) 5.98%, rgba(0, 0, 0, 0) 66.28%), rgba(0, 0, 0, 0.14));
  box-shadow: -8px 4px 5px 0px rgba(0, 0, 0, 0.24);
  backdrop-filter: blur(26.5px);
  padding: 6.06rem 2.5rem 3rem 2.5rem;
  gap: 0.7rem;
}

#login h1, #register h1 {
  color: #fff;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

#login span, #register span {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#login input, #register input {
  display: flex;
  color: #fff;
  width: 100%;
  text-align: start;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
  background: transparent;
  padding: 1rem;
  align-items: center;
  gap: 10px;
  padding: 1rem 1rem;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  border: 1px solid #fff;
}

#login input::placeholder, #register input::placeholder {
  color: #fff;
  text-align: start;
}

#login input[type=submit], #register input[type=submit] {
  display: flex;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
  width: 400px;
  max-width: 400px;
  padding: 14px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  background: linear-gradient(91deg, #628EFF 9.91%, #8740CD 53.29%, #580475 91.56%);
}

#login form, #register form {
  gap: 0.7rem;
}

.authorized {
  display: block;
  margin-bottom: 1rem;
  width: 100%;
  border-radius: 20px;
  text-align: center;
  font-size: 1rem;
  padding: 0.5rem;
  color: #fff;
  background-color: #0b910b;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

#registration-message {
  position: absolute;
}
/*# sourceMappingURL=login.css.map */