@import "variables";
@import "zero";
footer{
    
    width: 100%;
    margin-top: 5rem;
    .site-info{
        padding: 3rem 0 2rem 0;
        .footer{
            display: grid;
            grid-template-columns: 2fr 1fr 1fr 1fr;
            align-items: start;
            .logo{
                a {
                    background-image: none!important;
                    &:hover::before {
                        display: none;
                    }
               
                    &:before{
                        display: none;
                    }
                    &:hover{
                        background-image: none!important;
                    }
                }
            }
            .main-menu, .second-menu{
                ul{
                    li{
                        a{
                            font: $fourth-font;
                            font-size: 16px;
                            line-height: 22px;
                            &:hover::before{
                                bottom: 0;
                                height: 1px;
                            }
                        }
                    }
                }
            }
            .soc-icons{
                h6{
                    font: $fourth-font;
                    font-size: 18px;
                    text-transform: uppercase;
                    font-weight: 400;
                    padding-bottom: 2rem;
                }
                .icons{
                    a{
                        &:hover::before{
                            display: none;
                        }
                        img{
                            width: 50px;
                            height: 50px;
                            transition: all 0.3s ease-in-out;
                            &:hover{
                                transform: scale(1.1);
                            }
                        }
                    }
                    
                }
            }
        }
        .copyright{
            padding-top: 5rem;
            span{
                font: $fourth-font;
                    font-size: 14px;
                    font-weight: normal;
                    color: #aeaeae;
            }
        }
    }
}
@media(max-width: 1440px) and (min-width: 768px){
    .site-info{
        padding: 3rem 4rem 2rem 4rem!important;
    }
}
