@import "variables";
@import "zero";
@import "common";

.menu-main-menu-container {
    ul {
        li {
            a {
                font:
                    normal 400 18px/18px "Nunito",
                    sans-serif;
                line-height: 34px;
            }
        }
    }
}
#wrapper {
    @media (max-width: 767px) {
        #sidebar {
            display: none;
        }
    }
}

.logo-users {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 4rem;
    @media (max-width: 767px) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0;
    }
    .logo {
        a {
            background-image: none !important;
            &:hover::before {
                display: none;
            }

            &:before {
                display: none;
            }
            &:hover {
                background-image: none !important;
            }
        }
    }
    .user {
        a {
            &:hover::before {
                display: none;
            }
            img {
                width: 35px;
            }
        }
        .mega-menu {
            position: relative;
            &:hover nav {
                opacity: 1;
            }
            h5 {
                font-family: "Righteous", sans-serif;
                position: relative;
                cursor: pointer;
            }
            nav {
                position: absolute;
                opacity: 0;
                z-index: 9;
                right: 0;
                transition: all 0.3s ease-in-out;

                ul {
                    li {
                        list-style-type: none;

                        a {
                            display: flex;
                            gap: 0.5rem;
                            align-items: center;
                            font:
                                normal 400 14px/18px "Nunito",
                                sans-serif;
                            line-height: 34px;

                            &:hover::before {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
        @media (max-width: 767px) {
            text-align: center;
            display: none;
            &.mobile {
                display: block;
                top: 6rem;
                left: 8vw;
                position: absolute;
            }
        }
    }
    @media (max-width: 2560px) and (min-width: 768px) {
        #sidebar {
            display: none;
        }
    }
}
.logo-users,
.footer {
    .logo {
        display: flex;
        align-items: center;
        h1 {
            margin-left: -1.05rem;
            z-index: -1;
            background: linear-gradient(to right, $second-color, $second-color, #54b3d6 50%, #54b3d6);
            -webkit-background-clip: text;
            color: transparent;
        }
        &::before {
            content: url("../img/flag-logo.svg");
        }
    }
}

@media (min-width: 768px) {
    .navbar {
        .container {
            input.checkbox {
                display: none;
            }
        }
    }
}

/* hamburger menu 767px*/
.checkbox {
    display: none;
}

.button {
    position: relative;
    height: 2.5rem;
    width: 3rem;
    border-radius: 50%;
    position: absolute;
    top: 6rem;
    right: 5vw;
    z-index: 2000;
    text-align: center;
    cursor: pointer;
}

.background {
    height: 0rem;
    width: 0rem;
    border-radius: 50%;
    position: fixed;
    top: 7.5vh;
    right: 6.6vw;
    background-image: radial-gradient(#080808, #053ba3);
    z-index: 1000;

    transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

.nav {
    height: 100vh;
    position: fixed;
    top: 0;
    right: -60vw;
    z-index: 1500;
    opacity: 0;
    width: 0;
    transition: all 1.5s;
}

.list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;
}

.item {
    margin: 1rem;
    font-size: 36px;
}

.link:link,
.link:visited {
    display: inline-block;
    font-size: 3rem;
    font-weight: 300;
    padding: 1rem 2rem;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
    background-size: 220%;
    transition: all 0.4s;
}

.link:hover,
.link:active {
    color: lightgreen;
    cursor: pointer;
}

/* functionality */
.checkbox:checked ~ .background {
    transform: scale(100);
    width: 1rem;
    height: 1rem;
}
.checkbox:checked ~ .nav {
    opacity: 1;
    width: 100%;
    right: 0;
}

/*  */
/* styling hamb ICON */
.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 3rem !important;
}

.icon,
.icon::before,
.icon::after {
    width: 2rem;
    height: 2px;
    background: linear-gradient(to bottom, #053ba3, #053ba3, #54b3d6 50%, #54b3d6);
    display: inline-block;
}

.icon::before,
.icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.2s;
}

.icon::before {
    top: -0.8rem;
}
.icon::after {
    top: 0.8rem;
}

.button:hover icon:before {
    top: -1rem;
}
.button:hover icon::after {
    top: 1rem;
}

.checkbox:checked + .button .icon {
    background: transparent;
}

.checkbox:checked + .button .icon::before {
    top: 0;
    transform: rotate(135deg);
}
.checkbox:checked + .button .icon::after {
    top: 0;
    transform: rotate(-135deg);
}
