@import "variables";

h1 {
    color: $first-color;
}
#primary {
    .film-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 5rem;
        .tv-block {
            width: 25%;
            position: relative;
            .film-image {
                transition: transform 0.5s ease;
                width: 100%;
                cursor: pointer;
                z-index: 99999;
            }
            .film-image.rotated {
                transform: rotateY(180deg);
                filter: brightness(0);
                z-index: -1;
            }
            p {
                position: absolute;
                top: 0;
                color: #fff;
                z-index: 1;
                opacity: 0; 
                transition: opacity 2.5s ease; 
            }
            .film-image.rotated + p {
                opacity: 1; 
            }
        }
    }
}
body{
    background-color: purple;
}