@import "variables";
h1 {
    color: $first-color;
}
#primary {
    .film-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 5rem;
    }
    .tv-block,
    .movie-card {
        width: 25%;
        position: relative;
        .film-image {
            width: 100%;
        }
        i {
            position: absolute;
            right: 15px;
            top: 20px;
            color: #fff;
            cursor: pointer;
            font-size: 28px;
        }
        p {
            position: absolute;
            top: 50%;
            left: 20%;
            transform: translate(-13%, -50%);
            padding: 20px;
            background-color: rgba(255, 255, 255, 0.5);
            backdrop-filter: blur(10px);
            box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
            border-radius: 25% 10%;
        }
    }
}
body{
    background-color: purple;
}