@import "variables";

.tabs{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;

    font-size: 2rem;
}
.tab-link{
    cursor: pointer;
    background-color: rgb(179, 175, 175);
    color: black;
}
.tab-content {
    display: none;
    background-color:  rgb(179, 175, 175);
}

.tab-content.active {
    display: block;
    
}


