
/*-----  FONTS & COLORS  -----*/

$first-color: #d3d3d3;

$first-font: normal 400 30px/18px "Righteous", sans-serif;
$heading-font: normal 500 30px/18px "Nunito", sans-serif;
$second-font: normal 400 13px/18px "Open Sans", sans-serif;
$third-font: normal 400 18px/18px "Open Sans", sans-serif;
$fourth-font: normal 500 20px/18px "Nunito", sans-serif;
$fifth-font: normal 500 25px/18px "Nunito", sans-serif;